*app.wxss**/

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0;
    box-sizing: border-box;
}
*{
      margin: 0;
      padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
input{
    width: 130px;
    height: 25px;
    outline: none;
    border: none;
    color: #fff;
    background: rgba(0,0,0,0);
}
input[type="checkbox"]{
    display: none;
}
input::-webkit-input-placeholder{
    color: #fff;
}
input::-moz-input-placeholder{
    color: #fff;
}
input::-ms-input-placeholder{
    color: #fff;
}
textarea{
    resize:none;
}
.f_f_1{
    font-family: "黑体";
}
.f_f_2{
    font-family: "宋体";
}
/*body{
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}*/
/*主体色  */

.c_topic {
    color: #009789;
}

.b_topic {
    background: #009789;
}

.c_topic2 {
    color: #b3f7e1;
}

.b_topic2 {
    background: #b3f7e1;
}

.c_topic3 {
    color: #8bc34a;
}

.b_topic3 {
    background: #8bc34a;
}
/*字体加粗  */

.bolder_400 {
    font-weight: 400;
}
.bolder_500 {
    font-weight: 500;
}

.bolder_600 {
    font-weight: 600;
}

.bolder_700 {
    font-weight: 700;
}

.bolder_800 {
    font-weight: 800;
}

.bolder_900 {
    font-weight: 900;
}

.f_f_1 {
    font-family: "微软雅黑";
}

/* 字体大小 */

.fz_12 {
    font-size: 12px;
}
.fz_14 {
    font-size: 14px;
}
.fz_16 {
    font-size: 16px;
}
.fz_18 {
    font-size: 18px;
}
.fz_20{
    font-size: 20px;
}
.fz_22 {
    font-size: 22px;
}
.fz_24 {
    font-size: 24px;
}
.fz_25 {
    font-size: 25px;
}

.fz_28 {
    font-size: 28px;
}

.fz_30 {
    font-size: 30px;
}

.fz_32 {
    font-size: 32px;
}

.fz_34 {
    font-size: 34px;
}

.fz_36 {
    font-size: 36px;
}

.fz_38 {
    font-size: 38px;
}

.fz_40 {
    font-size: 40px;
}

.fz_42 {
    font-size: 42px;
}

.fz_44 {
    font-size: 44px;
}

/*字体色  */

.c_1 {
    color: rgba(0, 0, 0, 0);
}

.c_2 {
    color: rgba(0, 0, 0, 0.25);
}

.c_3 {
    color: rgba(0, 0, 0, 0.5);
}

.c_4 {
    color: rgba(0, 0, 0, 0.75);
}

.c_5 {
    color: rgba(0, 0, 0, 1);
}

.c_6 {
    color: #e41e2b;
}

.c_7 {
    color: #ff6e33;
}

.c_8 {
    color: #606060;
}

.c_9 {
    color: #bfc2c9;
}

.c_f {
    color: #fff;
}

.c_e {
    color: #707070;
}

/*背景色  */

.b_1 {
    background: #9cf;
}

.b_2 {
    background: #963;
}

.b_3 {
    background: #f99;
}

.b_4 {
    background: #666;
}

.b_5 {
    background: #36c;
}

.b_6 {
    background: #93f;
}

.b_6 {
    background: #e41e2b;
}

.b_7 {
    background: #ff6e33;
}

.b_8 {
    background: #063;
}

.b_9 {
    background: #bfc2c9;
}

.b_10 {
    background: #fecd7e;
}

.b_11 {
    background: #c33;
}

.b_f {
    background: #fff;
}

.b_e {
    background: #707070;
}

/*文本  */

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

/*横穿线  */

.t_overline {
    text-decoration: overline;
}

.t_through {
    text-decoration: line-through;
}

.t_underline {
    text-decoration: underline;
}
/*内边距*/

.p_5{
    padding:5px;
}
.p_10{
    padding:10px;
}
.p_15{
    padding:15px;
}
.p_20{
    padding:20px;
}
.p_25{
    padding:25px;
}

.p_t_20{
    padding-top:20px;
}
.p_b_20{
    padding-bottom: 20px;
}
.p_tb_10{
    padding-top:10px;
    padding-bottom: 10px;
}
.p_tb_20{
    padding-top:20px;
    padding-bottom: 20px;
}
/*外边距  */

.m_l_0 {
    margin-left: 0;
}

.m_l_10 {
    margin-left: 10px;
}

.m_l_15 {
    margin-left: 15px;
}

.m_l_25 {
    margin-left: 25px;
}

.m_l_30 {
    margin-left: 30px;
}
.m_l_38 {
    margin-left: 38px;
}
.m_l_40 {
    margin-left: 40px;
}
.m_l_48 {
    margin-left: 48px;
}

.m_l_50 {
    margin-left: 50px;
}

.m_l_60 {
    margin-left: 60px;
}

.m_l_100 {
    margin-left: 100px;
}

.m_l_420 {
    margin-left: 420px;
}

.m_t_0 {
    margin-top: 0;
}

.m_t_10 {
    margin-top: 10px;
}

.m_t_15 {
    margin-top: 15px;
}

.m_t_20 {
    margin-top: 20px;
}

.m_t_30 {
    margin-top: 30px;
}
.m_t_50 {
    margin-top: 50px;
}
.m_t_60 {
    margin-top: 60px;
}

.m_r_0 {
    margin-right: 0;
}

.m_r_10 {
    margin-right: 10px;
}

.m_r_15 {
    margin-right: 15px;
}
.m_r_20 {
    margin-right: 20px;
}

.m_b_0 {
    margin-bottom: 0;
}

.m_b_5 {
    margin-bottom: 5px;
}
.m_b_6 {
    margin-bottom: 6px;
}

.m_b_10 {
    margin-bottom: 10px;
}

.m_b_15 {
    margin-bottom: 15px;
}

.m_b_20 {
    margin-bottom: 20px;
}

.m_b_100 {
    margin-bottom: 100px;
}

/*宽度  */
.w_100_ {
    width: 100%;
}
.w_90_ {
    width: 90%;
}
.w_80_ {
    width: 80%;
}
.w_25_ {
    width: 25%;
}
.w_1920 {
    width: 1920px;
}
.w_1900 {
    width: 1900px;
}
.w_1800 {
    width: 1800px;
}
.w_1700 {
    width: 1700px;
}
.w_1600 {
    width: 1600px;
}
.w_1500 {
    width: 1500px;
}
.w_1400 {
    width: 1400px;
}
.w_1300 {
    width: 1300px;
}
.w_1200 {
    width: 1200px;
}
.w_1100 {
    width: 1100px;
}
.w_1000 {
    width: 1000px;
}
.w_1080 {
    width: 1080px;
}

.w_750 {
    width: 750px;
}

.w_730 {
    width: 730px;
}

.w_720 {
    width: 720px;
}

.w_700 {
    width: 700px;
}

.w_640 {
    width: 640px;
}

.w_600 {
    width: 600px;
}

.w_590 {
    width: 590px;
}

.w_560 {
    width: 560px;
}

.w_540 {
    width: 540px;
}

.w_530 {
    width: 540px;
}

.w_520 {
    width: 520px;
}

.w_500 {
    width: 500px;
}
.w_470 {
    width: 470px;
}
.w_460 {
    width: 460px;
}
.w_450 {
    width: 450px;
}
.w_420 {
    width: 420px;
}
.w_400 {
    width: 400px;
}

.w_375 {
    width: 375px;
}

.w_365 {
    width: 365px;
}
.w_360 {
    width: 360px;
}

.w_345 {
    width: 345px;
}

.w_340 {
    width: 340px;
}

.w_320 {
    width: 320px;
}
.w_300 {
    width: 300px;
}
.w_270 {
    width: 270px;
}
.w_250 {
    width: 250px;
}
.w_240 {
    width: 240px;
}
.w_200 {
    width: 200px;
}
.w_180 {
    width: 180px;
}
.w_100 {
    width: 100px;
}
.w_150 {
    width: 150px;
}

.w_120 {
    width: 120px;
}

.w_100 {
    width: 100px;
}

.w_90 {
    width: 90px;
}

.w_80 {
    width: 80px;
}

.w_70 {
    width: 70px;
}

.w_60 {
    width: 60px;
}

.w_50 {
    width: 50px;
}

.w_40 {
    width: 40px;
}
.w_30 {
    width: 30px;
}
.w_20 {
    width: 20px;
}
.w_10 {
    width: 10px;
}

/*高度  */

.h_10 {
    height:10px;
}
.h_20 {
    height: 20px;
}
.h_30 {
    height: 30px;
}
.h_40 {
    height: 40px;
}

.h_50 {
    height: 50px;
}
.h_55{
    height: 55px;
}

.h_60 {
    height: 60px;
}

.h_70 {
    height: 70px;
}

.h_80 {
    height: 80px;
}

.h_100 {
    height: 100px;
}

.h_120 {
    height: 120px;
}

.h_160 {
    height: 160px;
}

.h_180 {
    height: 180px;
}

.h_200 {
    height: 200px;
}

.h_240 {
    height: 240px;
}

.h_250 {
    height: 250px;
}

.h_280 {
    height: 280px;
}

.h_300 {
    height: 300px;
}

.h_320 {
    height: 320px;
}

.h_350 {
    height: 350px;
}

.h_360 {
    height: 360px;
}

.h_370 {
    height: 370px;
}

.h_375 {
    height: 375px;
}

.h_380 {
    height: 380px;
}

.h_390 {
    height: 390px;
}

.h_400 {
    height: 400px;
}

.h_500 {
    height: 500px;
}
.h_600 {
    height: 600px;
}
.h_700 {
    height: 700px;
}
.h_720 {
    height: 720px;
}
.h_800 {
    height: 800px;
}
.h_900 {
    height: 900px;
}
.h_1080 {
    height: 1080px;
}

.h_1200 {
    height: 1200px;
}
.h_1300 {
    height: 1300px;
}
.h_1400 {
    height: 1400px;
}
.h_1500 {
    height: 1500px;
}
.h_1800 {
    height: 1800px;
}
.h_2000 {
    height: 2000px;
}

/* 行高  */

.lh_30 {
    line-height: 30px;
}

.lh_40 {
    line-height: 40px;
}

.lh_45 {
    line-height: 45px;
}

.lh_50 {
    line-height: 50px;
}

.lh_60 {
    line-height: 60px;
}

.lh_70 {
    line-height: 70px;
}

.lh_80 {
    line-height: 80px;
}

.lh_90 {
    line-height: 90px;
}

.lh_100 {
    line-height: 100px;
}

.lh_110 {
    line-height: 110px;
}

.lh_120 {
    line-height: 120px;
}

/*换行  */

.ws_normal {
    white-space: normal;
}

/*段前空位长度  */

.t_i_10 {
    text-indent: 10px;
}

.t_i_15 {
    text-indent: 15px;
}

.t_i_20 {
    text-indent: 20px;
}

.t_i_30 {
    text-indent: 50px;
}

.t_i_40 {
    text-indent: 40px;
}
.t_i_48 {
    text-indent: 48px;
}

.t_i_56 {
    text-indent: 56px;
}

.t_i_60 {
    text-indent: 60px;
}

/*超出以...显示  */

.o_h {
    overflow: hidden;
}
/*超出以...显示  */
.o_e {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 边缘线 */

.b_t_1 {
    border-top: solid 1px #eee;
}

.b_t_2 {
    border-top: solid 1px #eee;
}

.fixed_bottom {
    position: fixed;
    bottom: 0;
}
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
.top_0{
    top: 0;
}
.right_0{
    right: 0;
}
.left_0{
    left: 0;
}
.bottom_0{
    bottom: 0;
}
.height_80 {
    width: 750px;
    height: 80px;
    line-height: 80px;
}

.height_100 {
    width: 750px;
    height: 100px;
    line-height: 100px;
}
/*鼠标指针状态*/
.c_point{
    cursor: pointer;
}
/*透明度  */

.o_0 {
    opacity: 0;
}

.o_5 {
    opacity: 0.5;
}

.o_full {
    opacity: 1;
}

/*层次  */

.z_1 {
    z-index: 1;
}

.z_10 {
    z-index: 10;
}

/*圆角  */

.b_r_0 {
    border-radius: 50%;
}
.b_r_5 {
    border-radius: 5px;
}
.b_r_10 {
    border-radius: 10px;
}
.b_r_15 {
    border-radius: 15px;
}
.b_r_20 {
    border-radius: 20px;
}
/*边框*/
.border_f{
    border: solid 1px #fff;
}
.border_bottom_1{
    border-bottom: solid 1px #fff;
}
.border_bottom_2{
    border-bottom: solid 1px #bbb;
}

/*flex布局模型  */

/**start-xxx-row**/

.start_start_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.start_start_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.start_center_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.start_center_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.start_end_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.start_end_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

/**center-xxx-row**/

.center_start_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}

.center_start_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.center_center_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.center_center_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.center_end_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}

.center_end_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

/**end-xxx-row**/

.end_start_row_warp {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.end_start_row_nowarp {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.end_center_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.end_center_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.end_end_row_wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.end_end_row_nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

/**start-xxx-column**/

.start_start_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.start_start_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.start_center_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}

.start_center_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.start_end_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.start_end_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

/**center-xxx-column**/

.center_start_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.center_start_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.center_center_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.center_center_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.center_end_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.center_end_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/**end-xxx-column**/

.end_start_col_warp {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.end_start_col_nowarp {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.end_center_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
}

.end_center_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.end_end_col_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.end_end_col_nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

/*多轴线flex  */

.al_co_start {
    align-content: flex-start;
}

.al_co_center {
    align-content: center;
}

.al_co_end {
    align-content: flex-end;
}

.al_co_bet {
    align-content: space-between;
}

.al_co_aro {
    align-content: space-around;
}


/*

HTML提供了5种空格实体（space entity），它们拥有不同的宽度，非断行空格（&nbsp;）是常规空格的宽度，可运行于所有主流浏览器。其他几种空格（ &ensp; &emsp; &thinsp; &zwnj;&zwj;）在不同浏览器中宽度各异。
 
&nbsp;
它叫不换行空格，全称No-Break Space，它是最常见和我们使用最多的空格，大多数的人可能只接触了&nbsp;，它是按下space键产生的空格。在HTML中，如果你用空格键产生此空格，空格是不会累加的（只算1个）。要使用html实体表示才可累加，
该空格占据宽度受字体影响明显而强烈。
 
&ensp;
它叫“半角空格”，全称是En Space，en是字体排印学的计量单位，为em宽度的一半。根据定义，它等同于字体度的一半（如16px字体中就是8px）。名义上是小写字母n的宽度。此空格传承空格家族一贯的特性：透明的，此空格有个相当稳健的特性，就是其占据的宽度正好是1/2个中文宽度，而且基本上不受字体影响。
 

&emsp;        
它叫“全角空格”，全称是Em Space，em是字体排印学的计量单位，相当于当前指定的点数。例如，1 em在16px的字体中就是16px。此空格也传承空格家族一贯的特性：透明的，此空格也有个相当稳健的特性，
就是其占据的宽度正好是1个中文宽度，而且基本上不受字体影响。
 
&thinsp;        
它叫窄空格，全称是Thin Space。我们不妨称之为“瘦弱空格”，就是该空格长得比较瘦弱，身体单薄，占据的宽度比较小。它是em之六分之一宽。
 
&zwnj; 
它叫零宽不连字，全称是Zero Width Non Joiner，简称“ZWNJ”，是一个不打印字符，放在电子文本的两个字符之间，抑制本来会发生的连字，而是以这两个字符原本的字形来绘制。Unicode中的零宽不连字字符映射为“”（zero width non-joiner，U+200C），HTML字符值引用为： &#8204;
 
&zwj;
它叫零宽连字，全称是Zero Width Joiner，简称“ZWJ”，是一个不打印字符，放在某些需要复杂排版语言（如阿拉伯语、印地语）的两个字符之间，使得这两个本不会发生连字的字符产生了连字效果。零宽连字符的Unicode码位是U+200D (HTML: &#8205; &zwj;）。
 
此外，浏览器还会把以下字符当作空白进行解析：空格（&#x0020;）、制表位（&#x0009;）、换行（&#x000A;）和回车（&#x000D;）还有（&#12288;）等等。

